{% extends 'admin/layouts/base.html.twig' %}
{% block title_detailed %}Edit Product{% endblock %}
{% set breadcrumbs = [
    {
        'label':'Products',
        'url': path('admin.product.listAll')
    },
    {
        'label': isEdit ? 'Edit Product' : 'Add New Product'
    },
] %}
{% if isEdit %}
    {% set actionButton =  {
        'label': 'Add Product',
        'url' : path('admin.product.create'),
        'icon': 'fa-plus'
    } %}
{% else %}
    {% set actionButton =  {
        'label': 'Back to List',
        'url' : path('admin.product.listAll'),
        'icon': 'fa-list'
    } %}
{% endif %}

{% block body %}
    <div class="card shadow mb-4">

        {% include 'admin/components/breadcrumbs.html.twig' with {
            'actionButton': actionButton,
            'breadcrumbs': breadcrumbs
        } %}

        <div class="card-body">
            {{ form_start(form) }}
            <div class="form-group row">
                <div class="col-md-1">
                    {{ form_label(form.title) }}
                </div>
                <div class="col-md-11">
                    {{ form_widget(form.title) }}
                    <div class="form-error">
                        {{ form_errors(form.title) }}
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-1">
                    {{ form_label(form.price) }}
                </div>
                <div class="col-md-11">
                    {{ form_widget(form.price) }}
                    <div class="form-error">
                        {{ form_errors(form.price) }}
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-1">
                    {{ form_label(form.quantity) }}
                </div>
                <div class="col-md-11">
                    {{ form_widget(form.quantity) }}
                    <div class="form-error">
                        {{ form_errors(form.quantity) }}
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-1">
                    {{ form_label(form.description) }}
                </div>
                <div class="col-md-11">
                    {{ form_widget(form.description) }}
                    <div class="form-error">
                        {{ form_errors(form.description) }}
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-1">
                    {{ form_label(form.newImage) }}
                </div>
                <div class="col-md-11">
                    {{ form_widget(form.newImage) }}

                    <div class="form-error">
                        {{ form_errors(form.newImage) }}
                    </div>
                </div>
            </div>

            {% if images|length %}
                <div class="row">
                    <div class="col-md-12">
                        <span class="text-gray-600">Current images:</span>
                    </div>
                </div>

                {% for image in images %}
                    <div class="row mt-2">
                        <div class="col-md-5">
                            <img src="{{ asset('uploads/images/products/' ~ product.id ~ '/' ~ image.filenameMiddle) }}" alt="{{ image.filenameMiddle }}">
                        </div>
                        <div class="col-md-7">
                            <a href="{{ path('admin.product_image.delete', {'id': image.id}) }}" class="btn btn-outline-info">
                                DELETE
                            </a>
                        </div>
                    </div>
                {% endfor %}

            {% endif %}



            <div class="form-group row">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    {{ form_widget(form.is_published) }}
                    {{ form_label(form.is_published) }}
                    <div class="form-error">
                        {{ form_errors(form.is_published) }}
                    </div>
                </div>
            </div>

            <hr/>
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <a
                        href="{{ path('admin.product.listAll') }}"
                        class="btn btn-default btn-return "
                    >
                        <i class="fas fa-arrow-circle-left"></i>
                    </a>
                    <button
                        type="submit"
                        class="btn btn-primary"
                    >
                        Save changes
                    </button>
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
