{% extends 'admin/layouts/base.html.twig' %}

{% block title_detailed %}All Products{% endblock %}
{% set breadcrumbs = [
    {
        'label':'Products',
        'url': path('admin.product.listAll')
    },
    {
        'label': 'Add New Product'
    },
] %}
{% set actionButton =  {
    'label': 'Add Product',
    'url' : path('admin.product.create'),
    'icon': 'fa-plus'
} %}
{% block body %}
    <div class="card shadow mb-4">
        {% include 'admin/components/breadcrumbs.html.twig' with {
            'actionButton': actionButton,
            'breadcrumbs': breadcrumbs
        } %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="main_table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Category</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Cover</th>
                        <th>Is published</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td></td>
                            <td>{{ product.title }}</td>
                            <td>{{ product.price|format_currency('USD') }}</td>
                            <td>{{ product.quantity }}</td>
                            <td>
                                {% set images = product.getProductImages().getValues() %}
                                {% if images|length %}
                                    {% set image = images|last %}
                                    <img
                                        src="{{ asset('uploads/images/products/' ~ product.id ~ '/' ~ image.filenameMiddle) }}"
                                        style="width: 250px"
                                        alt="{{ image.filenameMiddle }}"
                                    >
                                {% endif %}
                            </td>
                            <td>
                                <i class="fas fa-check fa-sm" style="color: {% if product.isPublished %}green{% else %}lightgray{% endif %};"></i></td>
                            <td>
                                <a href="{{ path('admin.product.edit',{'id':product.id }) }}" class="btn btn-outline-info">Edit</a>
                                <a href="{{ path('admin.product.delete',{'id':product.id}) }}" class="btn btn-outline-danger">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

